#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config BOARD_ESP32S3_BUZZER
    bool "Enable buzzer"

if BOARD_ESP32S3_BUZZER

config BOARD_ESP32S3_BUZZER_PIN
    int "Buzzer pin"
    default 33

endif # BOARD_ESP32S3_BUZZER
